body {
  background-color: rgb(230, 211, 248);
}
.card {
  font-weight: bold;
}
.card-title {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.todo {
  font-size: 35px;
}
.error {
  display: none;
  color: red;
}
.errors {
  display: none;
  color: red;
}
li {
  color: black;
}
i {
  cursor: pointer;
}
.modal {
  top: 10%;
}
